.card {
   width: fit-content;
   display: flex;
   height: fit-content;
   /* justify-content: center; */
   text-align: center;
   align-self: stretch;
   /* grid-row: 1 / 4;
   grid-column: 4 / 5; */
   /* display: grid;
  justify-content: flex-end; */
  /* margin-left: 10%; */

  /* position: absolute;
  top: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
}
/* 
.grid {
    /* display: flex; */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.title {
    margin-top: 5%;
    font-size: 1.25rem;
}

.theCard {
    align-content: center;
    justify-content: center;
    margin: 5% 0;
    position: relative;
    /* width: 100%;
    height: fit-content; */
}
.listingGenre {
    margin: 5px 10px;
    margin-bottom: 10px;
}